<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new chat</title>
</head>

<body>
    <h2>new Chat</h2>
    <form method="post" action="/chat">
        <input type="text" name="from" placeholder="enter youe name">
        <br><br>
        <textarea name="msg"> write your message here!</textarea>
        <br><br>
        <input type="text" name="to" placeholder="enter Reciever name">
        <br><br>
        <button>Send</button>
    </form>
</body>

</html>