<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>This the frist page using Ejs </h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt nisi quam ea perferendis, natus rerum
        inventore dolor minima animi vero? Tempora, porro, provident voluptatibus impedit molestiae debitis praesentium,
        quis doloremque officiis eligendi eveniet beatae ipsam! Est enim earum cumque vitae consectetur ipsum, placeat
        odio modi optio officia? Doloremque veritatis, ea dolorem quasi sequi beatae nemo quis ex numquam earum quaerat
        sapiente quia tenetur! Nam molestiae, exercitationem, sit modi excepturi ipsa, debitis error fuga perspiciatis
        delectus facere nulla maiores iure accusantium reprehenderit natus placeat labore? Itaque harum voluptates vero
        architecto cumque ex asperiores libero, voluptatum veniam tenetur deserunt aliquam voluptate ea!</p>
    <button>Click me </button>
    <h1>The value of dice is :
        <%= diceVal %>
            //if else using EJS
            <% if(diceVal==6){ %>
                <h2>Nice! try again</h2>
                <% } %>
    </h1>
</body>

</html>