<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new post</title>
</head>

<body>
    <form method="post" action="/posts">
        <input type="text" name="name" placeholder="Enetr your name">
        <br>
        <br>
        <input type="text" placeholder="enter your age" name="userage">
        <br>
        <textarea placeholder="enter yoyur content here" name="usercontent"></textarea>
        <br>
        <button>submit</button>


    </form>

</body>

</html>