<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show</title>

    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>here is your post in detail</h1>
    <p>post id : <%= post.id %>
    </p>
    <div>
        <h3 class="user">@<%=post.name %>
        </h3>
        <h5 class="age">
            <%=post.userage%>
        </h5>
        <h5>
            <%=post.usercontent%>
        </h5>
    </div>

</body>

</html>