#maintopic {
    background-color: blue;

}

* {
    text-align: center;
}

h1+h3+h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1::first-letter {
    color: red;
}

#para {
    background-color: cornflowerblue;
    color: white;
}

button {
    background-color: purple;
    color: azure;
}

button:hover {
    background-color: yellow;
    color: blue;
}

#para:nth-of-type(odd) {
    color: yellow;

}

input[type="checkbox"]:checked+label {
    color: green;
    font-weight: 900;
}